<div class="row">
  <div class="col s12 z-depth-1"">
    <h3>Shop Information for <%= "#{@shop_owner.first_name} #{@shop_owner.last_name}" %></h3>
    <p>Name: <%= @shop.name %></p>
    <p>Url: <%= @shop.url %></p>
    <p>Description: <%= @shop.description %></p>
    <p>Address: <%= @shop.address %></p>
    <p>City: <%= @shop.city %></p>
    <p>State: <%= @shop.state %></p>
    <p>Phone: <%= @shop.phone %></p>
  </div>
</divt